body{
        background-color: #33cc00;
	background-image: url("https://img.webme.com/pic/w/webcp/bge02.jpg");
	font-family: 'Open Sans', sans-serif;
}

#menu {
    
	text-align: center;
	overflow:hidden;
        margin-left: 30%;
       
}
#menu a{
	text-decoration:none;
	color:#fff;
                margin-right:50px;

}
#menu li {
        
  float: left;
  overflow: hidden;
  list-style: none;
  padding: 5px 0px;
  border: 1px solid #ddd;
  background: #424242;
  color: #fff;
  text-align: center;
  min-width: 150px;
 
}
#menu li:hover {
	cursor:pointer;
}
#menu li img{
	margin: 0px 0px -2px 0px;
}
#menu ul{
  position: absolute;
  margin: 0px;
  padding: 0px;
  margin-top: 11px;
  max-width: 280px;
  overflow: hidden;
}
#menu ul li {
	background:#575757;
}
#nav_mobile {
	display:none;
	background: #353535 !important;
}
#oculto {
	overflow:hidden;
}
@media screen and (max-width: 580px) {
#menu li {
		float:none;
}
#menu ul {
  position: relative;
}
	
#menu ul li {
	border:none;
}
#nav_mobile {
	display:block;
}
#oculto {
	display:none;
}

}
@media screen and (min-width: 580px) {
	#oculto {
	display: block !important ;
}
}
#cont{
    margin-bottom: 10px;
}


#cuerpo{
    
    
    margin-top:40px;
    width: 100%;
    text-align: center;
    height: auto;
    text-align: center;
   
    
  
}




